$def with (res_data)

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/question.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript">
        var question_data = JSON.parse('$:res_data');
        var count = question_data.count;
        var start = 0;

        function makeQuestion(num){
            //加载题目数量和问题描述
            console.log("makeQuestion:"+num);
            jQuery("#q-count").text("第"+(num+1)+"题["+(num+1)+"/"+count+"]");
            jQuery("#q-title").text((num+1)+"."+question_data.data[num].description);

            //判断问题类型(1判断题，0选择题)，渲染对应选项
            if (question_data.data[num].type == 1) {
                var pdt = jQuery("#pdt").html();
                jQuery("#options").html(pdt);
            }

            if (question_data.data[num].type == 0) {
                var xzt = "";
                var xzt_str = jQuery("#xzt").html();
                var options = question_data.data[num].options;
                if (options && options != "No option") {
                    var options_array = options.split("|");
                    for (var flag in options_array) {
                        var option = options_array[flag];
                        var i = option.indexOf(".")+1;
                        var temp = xzt_str.replace(/CHAR/,option[0]).replace(/QSTRING/,option.substr(i));
                        xzt += temp;
                    }
                }
                jQuery("#options").html(xzt);

            }
        }

        function answerCheck(num,nowobj){
            //选择的答案
            var current_answer = "";
            if (question_data.data[num].type == 1) {
                current_answer = nowobj.parent().attr("id");
            }
            if (question_data.data[num].type == 0) {
                current_answer = nowobj.find(".ci").text();
            }
            console.log("current_answer:"+current_answer);
            //顶部结果显示
            if (current_answer == question_data.data[num].answer) {
                jQuery("#res-check").text("回答正确").css("color","green");
            } else {
                jQuery("#res-check").text("回答错误").css("color","red");
            }

            jQuery("#answer-explanation").text(question_data.data[num].explanation);
            jQuery("#answer-tips").text("正确答案:"+question_data.data[num].answer);

            if ((num+1) == count) {
                jQuery("#nextq >p").text("首页");
                jQuery("#nextq").attr("href","/").attr("data-ajax","false").removeAttr("data-rel");
            }
        }

        jQuery(document).ready(function(){
            
            makeQuestion(start);
            jQuery("#options a").click(function() {
                answerCheck(start,jQuery(this));
            });

            jQuery("#nextq").click(function () {
                start +=1;
                if (start<count) {
                    makeQuestion(start);
                    jQuery("#options a").click(function() {
                        answerCheck(start,jQuery(this));
                    });
                } 
            });

        });
    </script>

</head>
<body>
    <div data-role="page">
        
        <div data-role="header">
            
        </div>

        <div data-role="main">
            
            <div id="question">
                <div id="question-head">
                    <p id="q-count">第1题(5/5)</p>
                    <p id="q-title">1.SB是天生的,没人能通过努力成为SB？</p>
                </div>
                <div id="question-body">
                    <div id="options">
                        <span>加载问题选项失败</span>
                    </div>
                    </div>
                </div>
            </div>

            <div id="resutlPopup" data-role="popup">
                <p id="res-check">ROW</p>
                <div id="tips">
                    <p id="answer-tips">RA</p><br>
                    <p id="answer-explanation">EXPLANATION</p>
                </div>
                <a id="nextq" href="#" data-rel="back" class="ui-btn">
                    <p>下一题</p>
                </a>
            </div>
            
            <div id="pdt" style="display: none;">
                <div id="yes" class="pdt">
                    <a href="#resutlPopup" data-rel="popup" data-position-to="window"><img src="../static/img/yes.png"></a>
                </div>
                <div id="no" class="pdt">
                    <a href="#resutlPopup" data-rel="popup" data-position-to="window"><img src="../static/img/no.png"></a>
                </div>
            </div>

            <div id="xzt" style="display: none;">

                <a href="#resutlPopup" data-rel="popup" data-position-to="window" class="choices">
                    <span class="ci">CHAR</span>
                    <span>QSTRING</span>
                </a>

            </div>

        </div>

    </div>

</body>
</html>